<!doctype html>
<html lang="{{app.language}}">
    <head>
        <meta charset="{{app.charset}}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {{ this.beginBody() }}
            {{ content | raw }}
        {{ this.endBody() }}
    <footer></footer>
    </body>
</html>
